<head>
  <link rel="stylesheet" href="/public/css/home/styles.css">
</head>
<div class="container-fluid">
  <header>
    <!-- taskbar -->
    <div class="taskbar">
      <div class="main">
        <h1> <a href="/">NotAPPhase</a>
          <img src="../public/images/icons/arrowheads.svg" alt="" />
        </h1>
      </div>
      <!-- icons -->
      <div class="icon">
        <a href="/profile"><img src="<%= userStats.s3_profile %>" alt="icon" /></a>
        <p><a href="/upload"><img style="width: 30px;" src="/public/images/icons/cloud_upload_black_24dp.svg"
              alt=""></a></p>
        <p><a href="/logout"><img style="width: 30px;" src="/public/images/icons/logout_black_24dp.svg" alt=""></a></p>
      </div>
    </div>
  </header>
</div>