<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/css/upload/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/public/css/home/styles.css">
  <title>NotAPPhase</title>
</head>

<body>
<div class="container-fluid">
<header>
    <div class="taskbar">
      <div class="main">
        <h1> <a href="/">NotAPPhase</a>
          <img src="../public/images/icons/arrowheads.svg" alt="" />
        </h1>
      </div>
      <div class="icon">
        <p><a href="/upload"><img style="width: 30px;" src="/public/images/icons/cloud_upload_black_24dp.svg" alt=""></a></p>
        <p><a href="/logout"><img style="width: 30px;" src="/public/images/icons/logout_black_24dp.svg" alt=""></a></p>
      </div>
    </div>
  </header>
</div>

  <div class="container">
    <div class="box">
      <!-- enctype for multer to upload images -->
      <form action="/upload" method="POST" enctype="multipart/form-data">
      <h1 class="mx-auto" style="text-align: center;">Uploud photo on <b>NotAPPhase.</b></h1>
      <br>
      <h5>Upload image!</h5>
      <p><%= typeof msg != 'undefined' ? msg : '' %></p>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile02" name="image_uploud">
          <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
        </div>
      </div>
      <br>
        <h5>Images description!</h5>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">↣</span>
          </div>
          <textarea class="form-control" aria-label="With textarea" style="max-height: 100px;" name="des"></textarea>
        </div>
        <!-- space to button -->
        <br>
        <br>
        <br>
        <br>
        <button type="submit" class="btn btn-outline-dark btn-lg btn-block">Upload!</button>
      </form>
    </div>
  </div>


  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>





 