@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");
//  font-family: 'Montserrat', sans-serif;
//  font-family: 'Roboto', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .info-one {
    position: relative;
    left: -7vh;
    padding-bottom: 100px;
  
    h1 {
      margin: 10px;
      font-size: 4vh;
      color: #374151;
      font-weight: bold;
      font-family: "ZCOOL KuaiLe", cursive;
    }
  
    .image-overlay {
      width: 90%;
      position: relative;
      top: 10px;
      left: 20vw; 
    }
  
    .content {
      position: relative;
      left: 110px;
  
      p {
        width: 90%;
      }
    }
  }
  .box {
    .center {
      margin: 80px;
    }
  
    display: block;
    width: 450px;
    height: 700px;
    border-radius: 15px;
    border: 1px solid #e9e9e9;
  
    h1 {
      color: #374151;
      margin-bottom: 50px;
      margin-left: 12px;
    }
  
    input {
      width: 100%;
      padding: 4% 19%;
      margin: 10px;
      position: relative;
      border-radius: 15px;
      border: 2px solid #e9e9e9;
      background-color: #eeeef0;
      outline: none;
    }
  
    .box-content {
      text-align: center;
    }
  
    button {
      padding: 4% 40%;
      width: 100%;
      margin: 10px;
      position: relative;
      border-radius: 15px;
      border: 2px solid #e9e9e9;
      background-color: #6C63FF;
      outline: none;
      color: #e9e9e9;
    }
  
    p {
      font-weight: bold;
  
      color: #374151;
  
      a {
        font-weight: bold;
        color: #6C63FF;
      }
    }
  
  }

}

@media only screen and (min-width: 700px) {

.info-one {
  position: relative;
  left: 110px;

  h1 {
    font-size: 3.5rem;
    color: #374151;
    font-weight: bold;
    font-family: "ZCOOL KuaiLe", cursive;
  }

  .image-overlay {
    width: 46%;
    position: relative;
    top: 60px;
    left: 60px;

  }

  .content {
    position: relative;
    left: 110px;

    p {
      width: 40%;
    }
  }
  
}

// .custom{
//   display: flex;
// }
.overlay {
  margin-top: 6%;
}

.box {
  .center {
    margin: 80px;
  }

  display: block;
  width: 450px;
  height: 700px;
  border-radius: 15px;
  border: 1px solid #e9e9e9;

  h1 {
    color: #374151;
    margin-bottom: 50px;
    margin-left: 12px;
  }

  input {
    width: 100%;
    padding: 4% 19%;
    margin: 10px;
    position: relative;
    border-radius: 15px;
    border: 2px solid #e9e9e9;
    background-color: #eeeef0;
    outline: none;
  }

  .box-content {
    text-align: center;
  }

  button {
    padding: 4% 40%;
    width: 100%;
    margin: 10px;
    position: relative;
    border-radius: 15px;
    border: 2px solid #e9e9e9;
    background-color: #6C63FF;
    outline: none;
    color: #e9e9e9;
  }

  p {
    font-weight: bold;

    color: #374151;

    a {
      font-weight: bold;
      color: #6C63FF;
    }
  }

}
}